Creating UI.Json
[{"id":"5352e799.72cc68","type":"tab","label":"creating ui(web app)","disabled":false,"info":""},{"id":"66de9085.bb073","type":"ibmiot in","z":"5352e799.72cc68","authentication":"apiKey","apiKey":"585472c7.f4547c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"DEVICE1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["4a897300.3dc60c","e3d5d3f5.bb0f6","65ea7d9a.072584"]]},{"id":"5393df0a.9a2ee","type":"debug","z":"5352e799.72cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"4a897300.3dc60c","type":"function","z":"5352e799.72cc68","name":"temperature","func":"msg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["5393df0a.9a2ee","bd01f310.e4a7b"]]},{"id":"e3d5d3f5.bb0f6","type":"function","z":"5352e799.72cc68","name":"humidity","func":"msg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["5393df0a.9a2ee","32412cb8.9a9a54"]]},{"id":"65ea7d9a.072584","type":"function","z":"5352e799.72cc68","name":"Soilmoisture","func":"msg.payload=msg.payload.Soilmoisture\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["5393df0a.9a2ee","bebec664.3dfe08"]]},{"id":"7b626b54.069414","type":"ui_button","z":"5352e799.72cc68","name":"","group":"9adccd89.419d","order":3,"width":0,"height":0,"passthru":false,"label":"moteron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"moteron\"}","payloadType":"json","topic":"","x":320,"y":460,"wires":[["d4a6869c.919068"]]},{"id":"e1f7bbc4.8b6468","type":"ui_button","z":"5352e799.72cc68","name":"","group":"9adccd89.419d","order":4,"width":0,"height":0,"passthru":false,"label":"moteroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"moteroff\"}","payloadType":"json","topic":"","x":320,"y":540,"wires":[["d4a6869c.919068"]]},{"id":"d4a6869c.919068","type":"debug","z":"5352e799.72cc68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":500,"wires":[]},{"id":"bd01f310.e4a7b","type":"ui_gauge","z":"5352e799.72cc68","name":"","group":"9adccd89.419d","order":7,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"celsius","format":"{{value}}","min":"-40","max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"32412cb8.9a9a54","type":"ui_gauge","z":"5352e799.72cc68","name":"","group":"9adccd89.419d","order":8,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":260,"wires":[]},{"id":"bebec664.3dfe08","type":"ui_gauge","z":"5352e799.72cc68","name":"","group":"9adccd89.419d","order":9,"width":0,"height":0,"gtype":"gage","title":"soilmoisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":340,"wires":[]},{"id":"585472c7.f4547c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9adccd89.419d","type":"ui_group","z":"","name":"Default","tab":"4c17802b.78034","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c17802b.78034","type":"ui_tab","z":"","name":"device","icon":"dashboard","disabled":false,"hidden":false}]