HTTP.json
[{"id":"a39ae729.c4c288","type":"tab","label":"creating ui(web app)","disabled":false,"info":""},{"id":"af0cbb2f.19fbc8","type":"ibmiot in","z":"a39ae729.c4c288","authentication":"apiKey","apiKey":"585472c7.f4547c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"DEVICE1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["7fa24793.2f9188","ce365d51.0bf95","1a200958.4e76c7"]]},{"id":"19f93e2b.c4cf52","type":"debug","z":"a39ae729.c4c288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":260,"wires":[]},{"id":"7fa24793.2f9188","type":"function","z":"a39ae729.c4c288","name":"temperature","func":"global.set(\"temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["19f93e2b.c4cf52","68865f0b.334da"]]},{"id":"ce365d51.0bf95","type":"function","z":"a39ae729.c4c288","name":"humidity","func":"global.set(\"humidity\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["19f93e2b.c4cf52","2e05eb70.0095c4"]]},{"id":"1a200958.4e76c7","type":"function","z":"a39ae729.c4c288","name":"Soilmoisture","func":"global.set(\"moisture\",msg.payload.Soilmoisture)\nmsg.payload=msg.payload.Soilmoisture\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["19f93e2b.c4cf52","778a4662.9c1848"]]},{"id":"5bee2120.945","type":"ui_button","z":"a39ae729.c4c288","name":"","group":"9adccd89.419d","order":3,"width":0,"height":0,"passthru":false,"label":"moteron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"moteron\"}","payloadType":"json","topic":"","x":320,"y":520,"wires":[["f114b56c.5a6de8","3d249ac7.94bc46"]]},{"id":"1cdf76bb.061c89","type":"ui_button","z":"a39ae729.c4c288","name":"","group":"9adccd89.419d","order":4,"width":0,"height":0,"passthru":false,"label":"moteroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"moteroff\"}","payloadType":"json","topic":"","x":320,"y":600,"wires":[["f114b56c.5a6de8","3d249ac7.94bc46"]]},{"id":"f114b56c.5a6de8","type":"debug","z":"a39ae729.c4c288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":560,"wires":[]},{"id":"68865f0b.334da","type":"ui_gauge","z":"a39ae729.c4c288","name":"","group":"9adccd89.419d","order":7,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"celsius","format":"{{value}}","min":"-40","max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":160,"wires":[]},{"id":"2e05eb70.0095c4","type":"ui_gauge","z":"a39ae729.c4c288","name":"","group":"9adccd89.419d","order":8,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":260,"wires":[]},{"id":"778a4662.9c1848","type":"ui_gauge","z":"a39ae729.c4c288","name":"","group":"9adccd89.419d","order":9,"width":0,"height":0,"gtype":"gage","title":"soilmoisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":340,"wires":[]},{"id":"dbf7124e.9740e","type":"http in","z":"a39ae729.c4c288","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":420,"wires":[["e38f811b.1dd4"]]},{"id":"e38f811b.1dd4","type":"function","z":"a39ae729.c4c288","name":"","func":"msg.payload={\"temperature\":global.get(\"temperature\"),\"humidity\":global.get(\"humidity\"),\"moisture\":global.get(\"moisture\")}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["9cdc81ac.4ac0e"]]},{"id":"9cdc81ac.4ac0e","type":"http response","z":"a39ae729.c4c288","name":"","statusCode":"","headers":{},"x":610,"y":420,"wires":[]},{"id":"3d249ac7.94bc46","type":"ibmiot out","z":"a39ae729.c4c288","authentication":"apiKey","apiKey":"585472c7.f4547c","outputType":"evt","deviceId":"12345","deviceType":"DEVICE1","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":500,"y":520,"wires":[]},{"id":"585472c7.f4547c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9adccd89.419d","type":"ui_group","z":"","name":"Default","tab":"4c17802b.78034","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c17802b.78034","type":"ui_tab","z":"","name":"device","icon":"dashboard","disabled":false,"hidden":false}]