Node.Red flow.json
[{"id":"d00c80e4.7cb16","type":"tab","label":"noderedflow","disabled":false,"info":""},{"id":"eee7b69a.2365b8","type":"ibmiot in","z":"d00c80e4.7cb16","authentication":"apiKey","apiKey":"585472c7.f4547c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"DEVICE1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":260,"wires":[["dd0aadaf.29614","f03c5f92.c14db","b812392a.91a928"]]},{"id":"e46e2bb5.2596d8","type":"debug","z":"d00c80e4.7cb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":260,"wires":[]},{"id":"dd0aadaf.29614","type":"function","z":"d00c80e4.7cb16","name":"temperature","func":"global.set(\"temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["e46e2bb5.2596d8"]]},{"id":"f03c5f92.c14db","type":"function","z":"d00c80e4.7cb16","name":"humidity","func":"global.set(\"humidity\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["e46e2bb5.2596d8"]]},{"id":"b812392a.91a928","type":"function","z":"d00c80e4.7cb16","name":"Soilmoisture","func":"global.set(\"moisture\",msg.payload.Soilmoisture)\nmsg.payload=msg.payload.Soilmoisture\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["e46e2bb5.2596d8"]]},{"id":"ff437d6e.db3c5","type":"ui_button","z":"d00c80e4.7cb16","name":"","group":"9adccd89.419d","order":3,"width":0,"height":0,"passthru":false,"label":"moteron","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"moteron\"}","payloadType":"json","topic":"","x":320,"y":520,"wires":[["bcbd28d5.1082d8"]]},{"id":"29989ede.6a5972","type":"ui_button","z":"d00c80e4.7cb16","name":"","group":"9adccd89.419d","order":4,"width":0,"height":0,"passthru":false,"label":"moteroff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"moteroff\"}","payloadType":"json","topic":"","x":320,"y":600,"wires":[["bcbd28d5.1082d8"]]},{"id":"bcbd28d5.1082d8","type":"debug","z":"d00c80e4.7cb16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":560,"wires":[]},{"id":"585472c7.f4547c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9adccd89.419d","type":"ui_group","z":"","name":"Default","tab":"4c17802b.78034","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c17802b.78034","type":"ui_tab","z":"","name":"device","icon":"dashboard","disabled":false,"hidden":false}]